# Type Codes are used so that the server can tell the client a destination directory (configured on client), for example the type code "S"
# could be set for the label Sonarr, so the payload is transferred to Sonarr's processing directory

# Codes are 5 fields: [INDEX] [CONDITIONAL] [VALUE] [CODE] [ASSIGNED CODE]
# INDEX is torrent value index, [KEY/NAME] [HASH] [LABEL] [TRACKER] or [PATH]
# CONDITIONAL is the comparison that is applied, [IS] [CONTAINS] [NOT]
# VALUE is what the INDEX value is compared to
# CODE is what type is applied if the comparison is successful
# ASSIGNED CODE is a 2nd tier, for the condition to be applied the current code has an assigned a code value that matches.

# Order Matters, Tier 1 first, Tier 2 after

# Examples:

# LABEL IS sonarr "S" ""
# If the current torrent LABEL is (IS) "sonarr" the type code is "S" provided the type code hasn't been set yet

# TRACKER CONTAINS hatc "A" ""
# If the TRACKER contains the string "hatc" (ie http://tracker.whatcd.net/announce.php) then the type code is set to "A" (audio/music)

# KEY CONTAINS "eopardy" "J" "T"
# If the KEY (torrent name)  contains the string "eopardy" (ie Jeopardy.2022.09.13.720p) and the type code is already TV (sonarr label or a tv tracker) type code set to "J"

# KEY CONTAINS "2024" "N" "M"
# If the KEY (torrent name)  contains the string "2024"  and the type code is already "M"  (say Movie), then code is set to "N" for New Movie.

# TORRENT_FIELD(column1) CONDITIONAL(column2) COMPARISON_VALUE(column3) TYPE_CODE(column4) ALREADY_CODED(column5)
LABEL IS sonarr T ""
TRACKER CONTAINS hatc "A" ""
TRACKER CONTAINS tackove B ""
TRACKER CONTAINS emp V ""
TRACKER CONTAINS ageddon B ""
KEY CONTAINS eopardy J T
KEY CONTAINS 2024 N M
